.idea/*
!.idea/dynamic.xml
!.idea/dataSources.xml
!.idea/sqldialects.xml
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/codeStyles
build
*.iml
*.ipr
*.iws
.ideaDataSources/
.slcache
*.log
_assets
node_modules
/pluginFileStorage/
removedPlugin_*
target/
.elastic-data
.DS_Store
.gradle
images/docker-compose/storage/*
for_tests
src/generated
/legal/
.jest
out/
test/webdriver-tests/out
*tfstate*
.terraform
*env
dump.sql.gz
.allure
/scripts/permToken.header
